* {
  color: inherit;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  overflow-wrap: break-word;
  text-align: justify;
  transition: all 0.5s;
}
::-webkit-scrollbar {
  background: inherit;
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: currentColor;
  border-radius: 5px;
}
::selection {
  background: #222;
  color: #CCC;
}
html {
  color: #222;
  height: 100%;
}
body {
  background: #FFF;
  margin: 0;
  min-height: 100%;
}
header {
  box-shadow: 0 0 5px #777;
}
div.header {
  font-size: 24px;
  margin: 0 auto;
  padding: 15px 0;
  width: 1200px;
}
span.desc {
  color: #777;
  font-size: 14px;
}
a {
  color: #08F;
  text-decoration: underline dotted #333;
}
a.noul {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #0AF;
  text-decoration-color: #AAA;
}
div.header a {
  color: #08F;
}
main {
  animation: 1s both backInDown;
  border-radius: 20px;
  font-size: 20px;
  margin: 20px auto;
  padding: 10px;
  width: 1200px;
}
main.loading {
  animation-name: backOutUp;
}
mark {
  background: #FF0;
  border-radius: 5px;
}
img {
  vertical-align: middle;
}
img.uface {
  border-radius: 50%;
  height: 60px;
}
img.usex {
  height: 40px;
}
img.ulevel {
  height: 30px;
  vertical-align: -7.5px;
}
img.vpic {
  height: 100px;
  border-radius: 10px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin: 20px 0;
  overflow: auto;
}
th, td {
  border: 1px solid currentColor;
  padding: 8px;
  text-align: center;
}
form {
  font-size: 16px;
  margin: 10px 0 0;
}
input {
  -webkit-appearance: none;
  background: inherit;
  border: 1px solid #08F;
  border-radius: 5px;
  box-sizing: content-box;
  color: #08F;
  height: 20px;
}
input:hover {
  background: #FFFFFF80;
  border-color: #0AF;
  color: #0AF;
}
input[type="text"]:focus, input[type="number"]:focus {
  background: #FFFFFF80;
}
input[type="submit"]:active {
  background: #DDDDDD80;
}
footer {
  color: #777;
  font-size: 16px;
  text-align: center;
}
@media (max-width: 1439px) {
  div.header, main {
    width: 900px;
  }
}
@media (max-width: 959px) {
  div.header {
    text-align: center;
    width: auto;
  }
  span.desc {
    display: none;
  }
  main {
    margin: 10px;
    width: auto;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #CCC;
  }
  a {
    text-decoration-color: #AAA;
  }
  a:hover {
    text-decoration-color: #777;
  }
  mark {
    background: #880;
  }
  input:hover, input[type="text"]:focus, input[type="number"]:focus {
    background: #22222280;
  }
  input[type="submit"]:active {
    background: #00000080;
  }
}

/* From animate.css - https://animate.style */
@keyframes backInDown {
  0% {
    opacity: 0;
    transform: translateY(-1200px) scale(0.7);
  }
  80% {
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes backOutUp {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100% {
    opacity: 0;
    transform: translateY(-700px) scale(0.7);
  }
}
