* {
  font-family: Lato, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  overflow-wrap: anywhere;
  text-align: justify;
  transition: all 0.5s;
}
::selection {
  background: #333;
  color: #ccc;
}
html {
  height: 100%;
}
body {
  background: #fff;
  color: #222;
  margin: 0;
  min-height: 100%;
}
header {
  background: #fff;
  box-shadow: 0 0 5px #777;
  position: sticky;
  top: 0;
  z-index: 10;
}
div.header {
  font-size: 24px;
  margin: 0 auto;
  padding: 15px 0;
  width: 1200px;
}
span.description {
  color: #777;
}
div.header span.description {
  font-size: 14px;
}
main {
  animation: 0.5s both zoomInDown;
  border-radius: 20px;
  font-size: 20px;
  margin: 20px auto;
  padding: 10px;
  width: 1200px;
}
main.loading {
  animation-name: zoomOutUp;
  transform-origin: center bottom;
}
ul {
  margin: 0;
}
div.info {
  align-items: center;
  display: flex;
  margin: 0 0 5px;
}
div.wrap {
  margin: 0 5px 0 0;
  position: relative;
}
img {
  vertical-align: middle;
}
img.icon-personal {
  content: url(/assets/personal.svg);
}
img.icon-business {
  content: url(/assets/business.svg);
}
img.icon-big-vip {
  content: url(/assets/big-vip.svg);
}
img.icon-face-nft {
  content: url(/assets/nft-label.gif);
}
img.face {
  border-radius: 50%;
  height: 60px;
}
div.wrap.has-frame img.face {
  height: 51px;
  padding: 19.5px;
}
div.wrap.has-frame img.face-frame {
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
}
div.wrap img.face-icon {
  border-radius: 50%;
  bottom: -1.25px;
  height: 18px;
  position: absolute;
  right: -1.25px;
}
div.wrap img.face-icon.second {
  right: 15.75px;
}
div.wrap.has-frame img.face-icon {
  bottom: 18px;
  right: 18px;
}
div.wrap.has-frame img.face-icon.second {
  right: 35px;
}
a, strong, th, label, input[type='submit'] {
  color: #09f;
}
a:hover, input[type='submit']:hover {
  color: #3bf;
}
a {
  text-decoration: underline dotted #333;
  text-decoration-thickness: 2px;
}
div.header a, a.title, a.notice {
  text-decoration: none;
}
a.title {
  font-weight: bold;
}
a:hover {
  text-decoration-color: #aaa;
}
img.sex {
  height: 30px;
}
img.level, img.official-icon {
  height: 25px;
  vertical-align: -5px;
}
img.vpic {
  border-radius: 10px;
  height: 100px;
}
img.spic {
  border-radius: 10px;
  height: 160px;
}
span.notice, a.notice {
  background: #fff3db;
  border-radius: 5px;
  color: #ffb112;
  font-weight: bold;
  padding: 2.5px;
}
img.notice-icon {
  content: url(/assets/warning.png);
  height: 24px;
  vertical-align: sub;
}
img.notice-icon[src] {
  content: initial;
}
table {
  border: 2px solid #09f;
  border-collapse: collapse;
  border-radius: 10px;
  display: block;
  margin: 10px 0;
  max-width: max-content;
  overflow: auto;
}
table * {
  overflow-wrap: break-word;
}
th, td {
  padding: 8px;
  text-align: center;
}
th, td, input {
  border: 1px solid #09f;
}
img.ppic {
  border-radius: 10px;
  height: 80px;
}
form {
  font-size: 16px;
  margin: 10px 0 0;
}
input {
  background: inherit;
  border-radius: 5px;
  box-sizing: content-box;
  color: inherit;
  height: 20px;
}
input:hover {
  background: #fff6;
  border-color: #3bf;
}
input[type='text']:focus, input[type='number']:focus {
  background: #fff6;
}
input[type='submit']:active {
  background: #ddd6;
}
pre {
  background: #222;
  border-radius: 10px;
  color: #f66;
  font-family: consolas, Menlo, monospace, 'PingFang SC', 'Microsoft YaHei';
  font-size: 16px;
  overflow: auto;
  padding: 10px;
}
footer {
  color: #777;
  font-size: 16px;
  text-align: center;
}
@media (max-width: 1439px) {
  div.header, main {
    width: 900px;
  }
}
@media (max-width: 959px) {
  div.header {
    text-align: center;
    width: auto;
  }
  div.header span.description {
    display: none;
  }
  main {
    margin: 10px;
    width: auto;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
  }
  body, header {
    background: #222;
  }
  span.description, footer {
    color: #999;
  }
  img.icon-personal {
    content: url(/assets/personal_dark.svg);
  }
  img.icon-business {
    content: url(/assets/business_dark.svg);
  }
  img.icon-big-vip {
    content: url(/assets/big-vip_dark.svg);
  }
  a, strong, th, label, input[type='submit'] {
    color: #08e;
  }
  a:hover, input[type='submit']:hover {
    color: #3ae;
  }
  a {
    text-decoration-color: #aaa;
  }
  a:hover {
    text-decoration-color: #ccc;
  }
  span.notice, a.notice {
    background: #999183;
  }
  table, th, td, input {
    border-color: #08e;
  }
  input:hover, input[type='text']:focus, input[type='number']:focus {
    background: #2226;
  }
  input:hover {
    border-color: #3ae;
  }
  input[type='submit']:active {
    background: #0006;
  }
}

/* From animate.css - https://animate.style */
@keyframes zoomInDown {
  from {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
  }
  60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
}
@keyframes zoomOutUp {
  40% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
  to {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
  }
}
