:root {
  --background-color: #fff;
  --background-color-translucent: #fff9;
  --background-color-quarter-transparent: #fff5;
  --background-hover-color-quarter-transparent: #ddd5;
  --highlight-color: #09f;
  --highlight-hover-color: #3bf;
  --invalid-color: #f33;
  --invalid-hover-color: #f66;
  --notice-background-color: #fff3db;
  --notice-text-color: #ffb112;
  --secondary-color: #777;
  --text-color: #222;
  --anchor-decoration-color: #333;
  --anchor-decoration-hover-color: #aaa;
}

span.description {
  color: var(--secondary-color);
}
.text-personal {
  color: #ffc62e;
}
.text-business {
  color: #4ac7ff;
}
.text-big-vip {
  color: #fb7299;
}
.text-small-vip {
  color: #6dc781;
}
img.icon-personal, img.icon-business, img.icon-big-vip, img.icon-small-vip, img.icon-face-nft, img.notice-icon {
  display: inline-block;
}
img.icon-personal {
  content: url(/assets/personal.svg);
}
img.icon-business {
  content: url(/assets/business.svg);
}
img.icon-big-vip {
  content: url(/assets/big-vip.svg);
}
img.icon-small-vip {
  content: url(/assets/small-vip.svg);
}
img.icon-face-nft {
  border: 2px solid var(--background-color);
  box-sizing: border-box;
  content: url(/assets/nft.gif);
}
h2, a, strong, table th, label, input[type='submit'] {
  color: var(--highlight-color);
}
a:hover, input[type='submit']:hover {
  color: var(--highlight-hover-color);
}

* {
  font-family: Lato, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  overflow-wrap: anywhere;
  text-align: justify;
  transition: all 0.5s;
}
:not(img) {
  max-width: 100%;
}
::selection {
  background: #333;
  color: #ccc;
}
html {
  height: 100%;
}
body {
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  min-height: 100%;
}
body.new-style {
  background: radial-gradient(circle at 10% 30%, var(--highlight-color), transparent 20%),
    radial-gradient(circle at 40% 70%, var(--highlight-color), transparent 60%),
    radial-gradient(circle at 80% 35%, var(--highlight-color), transparent 40%),
    radial-gradient(circle at 90% 90%, var(--highlight-color), transparent 30%), 
    var(--background-color);
}
@supports (background: color-mix(in srgb, #000, transparent 50%)) {
  body.new-style {
    background: radial-gradient(circle at 10% 30%, color-mix(in srgb, var(--highlight-color), transparent 70%), transparent 20%),
      radial-gradient(circle at 40% 70%, color-mix(in srgb, var(--highlight-color), transparent 60%), transparent 60%),
      radial-gradient(circle at 80% 35%, color-mix(in srgb, var(--highlight-color), transparent 40%), transparent 40%),
      radial-gradient(circle at 90% 90%, color-mix(in srgb, var(--highlight-color), transparent 85%), transparent 30%), 
      var(--background-color);
  }
}
header {
  background: var(--background-color);
  box-shadow: 0 0 5px #777;
  position: sticky;
  top: 0;
  z-index: 10;
}
body.new-style header {
  background: var(--background-color-translucent);
}
div.header {
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 15px 0;
  width: 1200px;
}
div.header > div.left {
  flex: 1;
  font-size: 24px;
}
div.header > div.left > span.description {
  font-size: 14px;
}
main {
  animation: 0.5s both zoomInDown;
  border-radius: 20px;
  font-size: 20px;
  margin: 20px auto;
  padding: 10px;
  width: 1200px;
}
main.loading {
  animation-name: zoomOutUp;
  transform-origin: center bottom;
}
body.new-style main {
  animation: 0.5s both fadeIn;
}
body.new-style main.loading {
  animation-name: fadeOut;
  transform-origin: initial;
}
h2, p {
  margin: 10px 0;
}
pre {
  background: #333;
  border-radius: 10px;
  color: #f66;
  font-family: consolas, Menlo, monospace, 'PingFang SC', 'Microsoft YaHei';
  font-size: 16px;
  overflow: auto;
  padding: 10px;
}
div.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  padding: 10px 0;
}
div.grid.user-list {
  gap: 10px;
  padding: 0;
}
div.grid-item {
  background: var(--background-color-quarter-transparent);
  border-radius: 10px;
  box-shadow: 10px 10px 5px #0007;
  padding: 10px;
  position: relative;
}
div.grid-item.image-background {
  box-shadow: none;
  padding: 0;
}
div.grid-item:hover {
  background: var(--background-color-translucent);
}
div.grid-item:active {
  background: var(--background-hover-color-quarter-transparent);
}
body.new-style div.grid-item {
  border-radius: 20px;
  padding: 20px;
}
div.grid-item a.grid-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
div.image-background {
  border-radius: 10px;
}
div.main-info {
  align-items: center;
  background: var(--background-color-quarter-transparent);
  border-radius: 10px;
  display: flex;
  margin: 0 0 5px;
  padding: 5px 10px;
}
div.main-info.image {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
div.main-info > div.left, table * {
  overflow-wrap: break-word;
}
div.main-info > div.left, div.main-info > div.image-wrap {
  margin: 0 5px 0 0;
}
div.main-info > div.detail {
  flex: 1;
}
div.image-wrap {
  position: relative;
}
img {
  vertical-align: middle;
}
img.face {
  border-radius: 50%;
  height: 60px;
}
div.image-wrap.has-frame img.face {
  height: 51px;
  padding: 19.5px;
}
div.image-wrap.has-frame img.face-frame {
  height: 90px;
  left: calc(50% - 45px);
  position: absolute;
  top: 0;
}
div.image-wrap img.face-icon {
  border-radius: 50%;
  height: 18px;
  left: calc(50% + 13.25px);
  position: absolute;
  top: calc(50% + 13.25px);
}
div.image-wrap img.face-icon.second {
  left: calc(50% - 3.75px);
}
div.image-wrap.has-frame img.face-icon {
  left: calc(50% + 9px);
  top: calc(50% + 9px);
}
div.image-wrap.has-frame img.face-icon.second {
  left: calc(50% - 8px);
}
a {
  text-decoration: underline dotted var(--anchor-decoration-color);
  text-decoration-thickness: 2px;
}
a:hover {
  text-decoration-color: var(--anchor-decoration-hover-color);
}
div.header a, a.title, a.notice {
  text-decoration: none;
}
a.title {
  font-weight: bold;
}
a.invalid {
  color: var(--invalid-color);
}
a.invalid:hover {
  color: var(--invalid-hover-color);
}
img.sex {
  height: 30px;
}
img.level, img.official-icon {
  height: 25px;
  vertical-align: -5px;
}
img.vpic {
  border-radius: 10px;
  height: 100px;
}
img.spic {
  border-radius: 10px;
  height: 160px;
}
img.ppic {
  border-radius: 10px;
  height: 80px;
}
span.notice, a.notice {
  background: var(--notice-background-color);
  border-radius: 5px;
  color: var(--notice-text-color);
  font-weight: bold;
  padding: 2.5px;
}
img.notice-icon {
  content: url(/assets/warning.png);
  height: 24px;
  vertical-align: sub;
}
img.notice-icon[src] {
  content: initial;
}
table {
  border: 2px solid var(--highlight-color);
  border-collapse: collapse;
  border-radius: 10px;
  display: block;
  margin: 10px 0;
  max-width: max-content;
  overflow: auto;
}
table tr th, table tr td {
  padding: 8px;
  text-align: center;
}
table tr th, table tr td, input {
  border: 1px solid var(--highlight-color);
}
table tr:first-child th {
  border-top: none;
}
table tr:last-child td {
  border-bottom: none;
}
table tr th:first-child, table tr td:first-child {
  border-left: none;
}
table tr th:last-child, table tr td:last-child {
  border-right: none;
}
table tr th {
  background: var(--background-color-translucent);
}
table tr td {
  background: var(--background-color-quarter-transparent);
}
form {
  font-size: 16px;
  margin: 10px 0 0;
}
input {
  background: none;
  border-radius: 5px;
  box-sizing: content-box;
  color: var(--text-color);
  font-size: 15px;
  height: 22.5px;
  vertical-align: middle;
}
input:hover, input[type='text']:focus, input[type='number']:focus {
  background: var(--background-color-quarter-transparent);
}
input:hover {
  border-color: var(--highlight-hover-color);
}
input[type='submit']:active {
  background: var(--background-hover-color-quarter-transparent);
}
footer {
  color: var(--secondary-color);
  font-size: 16px;
  margin: 10px 10px 0;
  text-align: center;
}

@media (max-width: 1439px) {
  div.header, main {
    width: 900px;
  }
}

@media (max-width: 959px) {
  div.header {
    width: auto;
  }
  div.header > div.left {
    text-align: center;
  }
  div.header > div.left > span.description, div.header > div.right {
    display: none;
  }
  main {
    margin: 10px;
    width: auto;
  }
}

@media (max-width: 767px) {
  div.grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 359px) {
  * {
    animation: none !important;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-image: none !important;
    text-align: center;
    transition: none;
  }
  body, header {
    background: #000 !important;
  }
  main {
    background: none !important;
    font-size: 16px;
    padding: 0;
  }
  h2, p {
    margin: 0;
  }
  div.grid {
    margin-bottom: 0;
    padding: 0;
  }
  div.grid-item {
    box-shadow: none;
    padding: 0 !important;
  }
  div.main-info {
    display: block;
  }
  img.sex {
    height: 25px;
  }
  img.level, img.official-icon {
    height: 20px;
  }
  img.vpic, img.spic, img.ppic {
    height: auto;
    max-width: 100%;
  }
  img.notice-icon {
    height: 20px;
  }
}

@media (max-width: 359px), (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background-color: #222;
    --background-color-translucent: #2229;
    --background-color-quarter-transparent: #2225;
    --background-hover-color-quarter-transparent: #0005;
    --highlight-color: #08e;
    --highlight-hover-color: #3ae;
    --invalid-color: #f22;
    --invalid-hover-color: #f66;
    --notice-background-color: #999183;
    --secondary-color: #999;
    --text-color: #ccc;
    --anchor-decoration-color: #aaa;
    --anchor-decoration-hover-color: #ccc;
  }
  
  img.icon-personal {
    content: url(/assets/personal_dark.svg);
  }
  img.icon-business {
    content: url(/assets/business_dark.svg);
  }
  img.icon-big-vip {
    content: url(/assets/big-vip_dark.svg);
  }
  img.icon-small-vip {
    content: url(/assets/small-vip_dark.svg);
  }
}

@media only print {
  * {
    animation: none !important;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    transition: none;
  }
  html {
    height: initial;
  }
  body, main {
    background: none !important;
  }
  body {
    color: #000;
    min-height: initial;
  }
  header, form, footer {
    display: none;
  }
  main {
    margin: 0;
  }
}

/* From Animate.css - https://animate.style/ - MIT License */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomInDown {
  from {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
  }
  60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
}
@keyframes zoomOutUp {
  40% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
  to {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
  }
}
